*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.footer-container{
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    padding: 20px;

}
.footer{
    display: flex;
    justify-content: space-around;
    padding: 10px 30px;
    color: white;
    font-size: 18px;

}
.quick-links{
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.quick-links a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;

}
.footer-logo h2{
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    
}
.copyRights{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}