*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
  background-color: #282c34;
  color: white;
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 40px;
}

.navbar .links .menu{
  color: white;
  text-decoration: none;
}

.navbar .links a:hover {
  text-decoration: underline;
}
.menu-active{
  font-weight: bold;
  text-decoration:underline ;
}